// Import FontAwesome styles from mod-fontawesome module
// Process as template first, then include the resulting SCSS
{{- $fa := resources.Get "scss/fontawesome.scss" -}}
{{- if $fa -}}
{{- $faProcessed := $fa | resources.ExecuteAsTemplate "fontawesome-processed.scss" . -}}
{{- $faProcessed.Content -}}
{{- else -}}
{{- warnf "Could not find fontawesome.scss from mod-fontawesome module" -}}
{{- end -}}

// Import Bootstrap Icons styles
@import "bootstrap-icons";
