{{ if site.Params.modules.fontawesome.inline }}

// SVG mode - only load SVG support CSS
@import "modules/fontawesome/svg-with-js.css";

{{ else }}

// Webfont mode - load all webfont CSS

// FontAwesome webfonts
@import "modules/fontawesome/fontawesome";
@import "modules/fontawesome/regular";
@import "modules/fontawesome/solid";
@import "modules/fontawesome/brands";

// Bootstrap Icons webfonts
@import "bootstrap-icons";

{{ end }}

// FontAwesome fluid icon wrapper
.fa-wrapper {
    container-type: inline-size;
    container-name: wrapper;
}

// Fallback size
.fa-fluid {
    font-size: 5rem;
}

// Container query scaling - SVG elements always need width/height
@container wrapper (min-width: 0) {
    // SVG elements need width/height regardless of mode
    .fa-wrapper > svg {
        width: 100cqi;
        height: 100cqi;
        // Ensure SVG scales properly
        max-width: 100%;
        max-height: 100%;
    }

    {{ if site.Params.modules.fontawesome.inline }}
    // SVG mode - icon elements become SVG via FontAwesome JS
    .fa-wrapper > i {
        width: 100cqi;
        height: 100cqi;
        max-width: 100%;
        max-height: 100%;
    }
    {{ else }}
    // Webfont mode - font icons respond to font-size
    .fa-wrapper > i {
        font-size: 100cqi;
    }
    {{ end }}
}
